TUGAS 1

In [12]:
def hitung_nilai_akhir(data):

  ID, nilai_harian1, nilai_harian2, nilai_harian3, nilai_UTS, nilai_UAS = data
  rata_nilai_harian = (nilai_harian1 + nilai_harian2 + nilai_harian3) / 3
  nilai_akhir = 0.3 * rata_nilai_harian + 0.3 * nilai_UTS + 0.4 * nilai_UAS

  if nilai_akhir >= 80:
        grade = "A"
  elif nilai_akhir >= 75:
        grade = "B+"
  elif nilai_akhir >= 70:
        grade = "B"
  elif nilai_akhir >= 65:
        grade = "C+"
  elif nilai_akhir >= 60:
        grade = "C"
  elif nilai_akhir >= 55:
        grade = "D"
  else:
        grade = "E"

  hasil = f"Mahasiswa dengan ID = {ID} mendapat nilai mata kuliah dengan grade {grade} dengan score nilai akhir = {nilai_akhir}"

  return hasil

In [56]:
data_mahasiswa1 = [
    [20103125, 90, 90, 95, 100, 91],
]
data_mahasiswa2 = [
    [20103149, 90, 90, 95, 90, 91],
]
data_mahasiswa3 = [
    [20103126, 90, 90, 95, 88, 91],
]
data_mahasiswa4 = [
    [20103150, 90, 90, 95, 20, 91],
]
data_mahasiswa5 = [
    [20103160, 90, 90, 95, 0, 91],
]

In [59]:
for data in data_mahasiswa1:
    hasil_perhitungan = hitung_nilai_akhir(data)
    print(hasil_perhitungan)
for data in data_mahasiswa2:
    hasil_perhitungan = hitung_nilai_akhir(data)
    print(hasil_perhitungan)
for data in data_mahasiswa3:
    hasil_perhitungan = hitung_nilai_akhir(data)
    print(hasil_perhitungan)
for data in data_mahasiswa4:
    hasil_perhitungan = hitung_nilai_akhir(data)
    print(hasil_perhitungan)
for data in data_mahasiswa5:
    hasil_perhitungan = hitung_nilai_akhir(data)
    print(hasil_perhitungan)

Mahasiswa dengan ID = 20103125 mendapat nilai mata kuliah dengan grade A dengan score nilai akhir = 93.9
Mahasiswa dengan ID = 20103149 mendapat nilai mata kuliah dengan grade A dengan score nilai akhir = 90.9
Mahasiswa dengan ID = 20103126 mendapat nilai mata kuliah dengan grade A dengan score nilai akhir = 90.3
Mahasiswa dengan ID = 20103150 mendapat nilai mata kuliah dengan grade C+ dengan score nilai akhir = 69.9
Mahasiswa dengan ID = 20103160 mendapat nilai mata kuliah dengan grade C dengan score nilai akhir = 63.9